	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	
	body {
		margin: 0px;
		width:960px;
		font-family:'Nanum Gothic', sans-serif;
		color: #3F1000;
	}
	a {
		text-decoration: none;
		color: white;
	}
	#wrapper {
		width:100%;
		height:100%;
		position: absolute;
		z-index: 1;
	}
	#wrapper2 {
		position: relative;
	}
	#content1 {
	 	position:absolute;
		width:100%;
		height:200px;
		background-color: #d5cc49;
		z-index: 10;
		
	}
	#content2 {	
		position:relative;
		top: 200px;
		width:100%;
		height:600px;
		background-color: #99d3bb;
		z-index: 1;
	}
	#content3 {
		width:100%;
		height:62px;	
		background-color: #99d3bb;
		background-image: url(resources/images/ground.png);
		z-index: 5;
	}
	#content4 {
		
		width:100%;
		height: 130px;
		background-color: #853b2f;
	}
	#content5 {
	
		width:100%;
		height:155px;
		background-color: #6a3b2a;
	}
	#content6 {
		width:100%;
		height:155px;
		background-color: #562f21;
		display: flex;
	}
	#content7 {
		width:100%;
		height:155px;
		background-color: #432419;
	}
	#logo {
		margin : 0 auto;
		width: 80px;
	}
	#mainNote {
		margin : 0 auto;
		width: 70px;
		height: 70px;
	}
	#tree {		
		position: absolute;
		left: 0px;	
		margin-bottom: 0px;
					
	}
	#timewrapper {
		width: 350px;
		height: 50px;
		margin-left: 10px;
		background-color: #81523e;
		border-radius: 10px;
		box-shadow : 5px 5px 10px rgba(0, 0, 0, 10);
		position: absolute;
	}
	#clock {
		width: 280px;
		height: 50px;
		font-size: 30px; 
		color : white;
		font-family:'Nanum Gothic', sans-serif;
		display: inline-block;		
	}

	
	#Hashtag {
		font-family:'Nanum Gothic', sans-serif;
		color: #3F1000;
		font-size: x-large;
		font-weight: bold;
		font-style: italic;
		text-align: center;
	}
	
	#top {
		display: flex;
		width: 250px;
		height: 40px;
		text-decoration: none;
	}
	#floatelement {
		width:100%;
		display: inline;
		float: left;
		z-index: 100;
	}
	#title {
		margin-top: 5px;
		margin-left : 10px;
		flex: 8;
		display: inline-block;
		font-family:'Nanum Gothic', sans-serif;
		font-weight: bold;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 10);
		text-decoration: none;
		
	}
	#search {
		display: inline-block;
		margin-top: 5px;
		flex: 1;

	}
	#delete {
		display: inline-block;
		margin-top: 5px;
		flex: 1;
		margin-right: 10px;

	}
	#mid {
		height: 220px;
		background-color: #e2dfcc;
	}
	#bottom {
		height: 40px;
		
	}
	#request {
		text-align: center;
		font-size: 20px;
		color: #ff4b64;
		font-family:'Nanum Gothic', sans-serif;
	}
	#mid {
		font-size: 12px;
		font-family:'Nanum Gothic', sans-serif;
	}
	#list {
		padding-top: 10px;
		padding-left: 10px;
	}
	#gobottom {
		display: inline-block;

	}
	#content4-1 {
		display: flex;
		background-color: #33231c;
		opacity: 0.7;
		height: 130px;
	}
	#noticetext {
		z-index: 10;
		display: flex;
		flex: 5;
		line-height: 130px;
		color: white;
	}
	#noticetext-1 {
		color: white;
		font-family:'Nanum Gothic', sans-serif;
		z-index: 10;
		font-size: 30px;
		
	}
	#noticetext-2 {		
		margin-left: 20px;
		margin-top: 15px;
		width: 300px;
		z-index: 10;
		height: 100px;
		background-color: white;		
		color: black;
		font-family:'Nanum Gothic', sans-serif;
		opacity: 0.7;
		border-radius: 10px;
		
	}
	#timecapsuletext {
		font-size: 30px;
		font-family:'Nanum Gothic', sans-serif;
		color: white;
		flex: 1;
		line-height: 130px;
		z-index: 10;
	}
	#timecasuleimg {
		flex: 1;
		line-height: 130px;
		z-index: 10;
	}
	#logo2 {
		flex: 1;
		line-height: 130px;
		margin-left: 30px;
		z-index: 10;
	}
	#capsulebox1 {
		margin-left: 60px;
	}
	#bottomlogobox {
		width: 680px;
		height: 400px;
		background-color:rgba(255,255,255,0.5);
		border-radius: 20px;
		z-index: 10;
		position: relative;
		top: 170px;
		margin: 0 auto;
		border: none;
		left: 400px;
	}
	#bottomlogobox2 {
		
		width: 680px;
		height: 400px;;
	}
	#bottomlogo {
		width: 234px;
		margin: auto auto;
	}
	#bottomtext {
		width: 594px;
		margin: auto auto;
	}
	#bottomwrapper {
		
	}
	#friend {
		height: 300px;
		width: 250px;
		margin-right: 10px;
		border-radius: 10px;
		box-shadow : 5px 5px 10px rgba(0, 0, 0, 10);
		background-color: white;
		border: none;
		float: right; 
	}
	#friendlistwrapper {
		height: 300px;
		width: 250px;
		background-color: white;
	}

	#friendlistwrapper2 {
		height: 300px;
		width: 250px;
		background-color: white;
	}
	#friendlistwrapper3 {
		height: 300px;
		width: 250px;
		background-color: white;
	}
	#friendlistwrapper4 {
		height: 300px;
		width: 250px;
		background-color: white;
	}
	#leftimg {
		margin-right: 10px;
		flex: 2;
	}
	#left {
		width: 26px;
		height: 28px;
		background-image: url(resources/images/left.png);
		border: none;
		background-color: white;
	}
	
	#searchbtn {
		width: 26px;
		height: 28px;
		background-image: url(resources/images/search.png);
		border: none;
		background-color: white;
	}
	#search2 {
		width: 50px;
		height: 30px;
	}
	#modify {
		font-family:'Nanum Gothic', sans-serif;
		z-index: 10;
		font-size: 15px;
		font-weight: bold;
		top: 200px;
		left: 635px;
		position: relative;
		color: #81523e;
		width: 140px;
		height: 60px;
		line-height: 50px;
		text-align: center;
	}
	
	#ground {
		position: absolute;
		margin-bottom: 
	}
	
	#modifyinfo {
		font-family: 'Nanum Gothic', sans-serif;
	}
	#modify:HOVER {
		background-color: #d5cc49;
	}
	#modifyinfo {
		font-family:'Nanum Gothic', sans-serif;
		z-index: 10;
		font-size: 20px;
		top: 205px;
		left: 600px;
		position: relative;
		color: #81523e;
		background-color: #e2dfcc;
		border-radius: 10px;
		width: 200px;
		height: 50px;
		line-height: 50px;
		text-align: center;	
		display: flex;
	}
	#deletetree {
		background-color: #0B7903;
		opacity: 0.5;	
		border-radius: 10px;
		width: 450px;
		height: 150px;
		position: relative;
		left: 465px;
		visibility: hidden;
	}
	#deletemember{
		flex:1;
	}
	#modifygo{
		flex:1;
	}
	#deletetext {
		font-size: 30px;
		color: black;
		text-align: center;
		font-family:'Nanum Gothic', sans-serif;	
	}
	#deletebutton {
		width: 450px;
		margin: 0 auto;
	}
	#witecapsulebox {
		visibility: hidden;
	}
	#capsulelist {
		top: 60px;
		position: relative;
	}
	#iframe1 {
		width: 100%;
		height: 600px;
		border: none;
		scroll: none;
	}
	#iframe2 {
		width: 100%;
		border: none;
		scroll: none;
		height: 500px;
	}